@{
    ViewData["Title"] = "Index";
}

<h1>Classes</h1>

<div>
    <hr />
    <div class="max-width-class">
        @foreach (ClassViewModel classViewModel in @Model)
        {
            <div class="Card">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#@classViewModel.Name" aria-expanded="true" aria-controls="@classViewModel.Name" class="rounded btn btn-outline-dark">
                    <div class="card-head" id="headingOne">
                        <h3 class="mb-0">@classViewModel.Name</h3>
                    </div>
                </button>


                <div id="@classViewModel.Name" class="collapse" aria-labelledby="heading" data-parent="#accordion">
                    <div class="Card-body">
                        <p>@classViewModel.Description</p>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
</div>

