html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    color: black;
}

.box-shadow_nav {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 50%);
}

.quick_info {
    text-align: center;
}

.character_hero {
    height: 93px;
}

.character_hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 565px;
    left: 0;
    /*background-color: rgba(0,0,0,.6);*/
    z-index: -1;
}

.character_hero-content {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    text-align: center;
    top: 5px;
}

.character_avatar {
    font-size: 50px;
    text-align: center;
    top: 0;
}

.ability-summary__label {
    font-size: 10px;
}

.inspo_label {
    font-size: 14px;
}

.level-label {
    font-weight: 700;
    margin-right: 10px;
}

.max-width {
    margin: 0 auto;
    max-width: 720px;
}

.max-width-class {
    margin: 0 auto;
    max-width: 860px;
}
.create-stat_label {
    display: flex;
    justify-content: center;
}

.row_1 {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.margin_bot {
    margin-bottom: 5px;
}

.subsections {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.saving-throws {
    grid-area: 1 / 1 / 3 / 4;
    text-align: center;
    margin-block: 20px;
}

.sences {
    grid-area: 3 / 1 / 5 / 4;
    text-align: center;
}

.div3 {
    grid-area: 5 / 1 / 7 / 4;
}

.div4 {
    grid-area: 1 / 4 / 7 / 7;
}

.div5 {
    grid-area: 2 / 7 / 7 / 13;
}

.div6 {
    grid-area: 1 / 7 / 2 / 8;
}

.div7 {
    grid-area: 1 / 8 / 2 / 9;
}

.div8 {
    grid-area: 1 / 9 / 2 / 13;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #555;
    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}