html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
    color: black;
}

.box-shadow_nav {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 50%);
}

.quick_info {
    text-align: center;
}

.character_hero {
    height: 93px;
}

.character_hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 565px;
    left: 0;
    /*background-color: rgba(0,0,0,.6);*/
    z-index: -1;
}

.character_hero-content {
    font-family: Roboto Condensed,Roboto,Helvetica,sans-serif;
    text-align: center;
    top: 5px;
}

.character_avatar {
    font-size: 50px;
    text-align: center;
    top: 0;
}

.ability-summary__label {
    font-size: 10px;
}

.inspo_label {
    font-size: 14px;
}

.level-label {
    font-weight: 700;
    margin-right: 10px;
}

.max-width {
    margin: 0 auto;
    max-width: 680px;
}

.create-stat_label {
    display: flex;
    justify-content: center;
}
