@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <h1 class="col-6">Character</h1>
    @{
        if (Context.Session.GetString("ID") != null)
        {
            <div class="col-4"></div>
            <a class="col-2 btn btn-primary" asp-action="Create"><h2>Create</h2></a>
        }
        else
        {
            <H2 class="col-6">please login to view Characters</H2>
        }
    }
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Level</th>
            <th scope="col">Class</th>
            <th scope="col">Race</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CharacterViewModel charViewModel in @Model)
        {
            <tr>
                <th scope="row" class="col-4"><a asp-action="Detail" asp-route-id=@charViewModel.ID>@charViewModel.Name</a></th>
                <td class="col-2">@charViewModel.Level</td>
                <td class="col-2">@charViewModel.Class</td>
                <td class="col-2">@charViewModel.Race</td>
                <td class="col-3" align="right">
                    <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id=@charViewModel.ID>View</a>
                    <a class="btn btn-outline-primary" asp-action="Update" asp-route-id=@charViewModel.ID>Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id=@charViewModel.ID onclick="return confirm('Are you sure you want to delete this character?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


